.lvl-select {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;

  background-color: #343a40;
}
/*Type*/
.button-type-container {
  width: 40vw;
  opacity: 0;

  display: flex;
  flex-direction: column;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.disappear {
  -webkit-animation: disappear 1s;
  animation: disappear 1s;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.no-display {
  display: none !important;
}

.textContainer-type {
  text-align: center;
}
.buttons-type-container {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}
.button-choselvl {
  display: inline-block;
  margin: 20px auto;
  width: 250px;
}

/*Lvl*/
.button-lvl-container {
  width: 40vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-lvl-container {
  text-align: center;
}
.buttons-lvl-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 30px;
}

/*Start Game*/

.button a {
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
}

.button a label {
  font-size: large;
  color: black;
  font-weight: 500;
}

@media (max-width: 1650px) {
  .button-lvl-container {
    width: 50vw;
  }
}
@media (max-width: 1320px) {
  .button-lvl-container {
    width: 60vw;
  }
}
@media (max-width: 1100px) {
  .button-lvl-container {
    width: 80vw;
  }
}
@media (max-width: 1100px) {
  .button-lvl-container {
    width: 70vw;
  }
}
@media (max-width: 950px) {
  .button-lvl-container {
    width: 90vw;
  }
}
@media (max-width: 850px) {
  .button-lvl-container button {
    width: 80px;
    margin: 10px 10px;
  }
}
@media (max-width: 500px) {
  .button-type-container {
    width: 90%;
  }

  .buttonType {
    font-size: small;
    margin: 10px 10px;
  }
}
