.card-container {
  width: 90%;

  margin: 50px auto;
}
.cards {
  width: 80%;
  height: 100%;

  margin: auto;
  display: flex;
}

.card-container img {
  width: 40%;
  height: 100%;
  margin-right: 10%;
}
.writing {
  margin: auto 0;
}
