.principal-container {
  background-color: #343a40;
  height: 100vh;
  width: 100vw;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}
.game-card-container {
  height: 70%;
}
.game-container {
  width: 50%;
  height: 45%;

  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* top: 10vh; */
}

.input-container {
  margin: 0 auto;
  margin-top: 6%;
}

.input-container input {
  height: 30px;
}
.input-container button {
  height: 30px;
  width: 60px;

  margin-left: 10px;
}

@media (max-width: 1400px) {
  .game-container {
    width: 70%;
    height: 55%;
  }
}
@media (max-width: 1024px) {
  .game-container {
    width: 90%;
  }
}
