.button {
  width: 180px;
  height: 70px;

  margin: 20px 20px;
  display: inline-block;
  background-color: #adb5bd;
  cursor: pointer;

  font-size: large;
  color: black;

  border-radius: 20px;
  border: solid 2px black;
}

.clicked {
  background-color: #6c757d;
  color: #ffffff;
}

.buttonGame {
  position: absolute;
  width: 30vw;
  background-color: #ced4da;
  bottom: 180px;
}

.button-choselvl {
  display: inline-block;
  margin: 30px auto;
  width: 25vw;
  background-color: #ced4da;
}

@media (max-width: 1000px) {
  .buttonGame {
    bottom: 40px;
  }
}

@media (max-height: 860px) and (min-width: 1000px) {
  .buttonGame {
    bottom: 40px;
  }
}

@media (max-width: 500px) {
  .buttonGame {
    bottom: 30px;
  }
}
